.Rproj.user
.Rhistory
.RData
.Ruserdata
.png

/output/
/.quarto/



# LaTeX Intermediate/Auxiliary Files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.pdf
*.nav
*.snm
*.vrb